* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    height: 100vh;
    width: 100%;
}

.top-nav {
    background-color: #008FF8;
    color: #FFFFFF;
    height: 45px;
    z-index: 1000;
}

.left-top-location img {
    width: 24px;
    height: 24px;
}

.left-top-address p {
    font-size: 12px;
    font-weight: 600;
}

.left-top-clock img {
    width: 24px;
    height: 24px;
}

.left-top-time p {
    font-size: 12px;
    font-weight: 600;
}

.email-logo img {
    width: 24px;
    height: 24px;
}

.phone-logo img {
    width: 24px;
    height: 24px;
}
.nav-item svg:hover path{
    stroke: #8DC641;
}
.email p,
.phone p {
    font-size: 12px;
    font-weight: 600;
}

.main-logo img {
    width: 264px;
    height: 84px;
}

.down-arrow img {
    width: 24px;
    height: 24px;
}

.nav-item:hover .down-arrow path{
   stroke: #8DC641;
}

.search img,
.user img {
    width: 28px;
    height: 28px;
}

.navbar {
    box-shadow: 0px 4px 10px 0px #AEDDFF;
    height: 109px;
    z-index: 1000;
    margin-top: 46px;
    /* padding-top: 46px; */
    background-color: #FFFFFF;
}

.appointment-btn {
    width: 138px;
    height: 46px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #008FF8;
    color: #008FF8;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
}

.appointment-btn:hover {
    background-color: #008FF8;
    color: #FFFFFF;
}

a.nav-link {
    color: #008FF8;
    font-size: 18px;
    font-weight: 500;
}

a.dropdown-item {
    color: #008FF8;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
}

.dropdown-menu {
    width: 278px;
    background-color: #FFFFFF;
    outline-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #AEDDFF;
    border: none;
}
a.dropdown-item:hover {
    color: #8DC641;
    background-color: #008FF8;
    color: white;
    width: 250px;
    border-radius: 10px;
}

.first-section {
    background-color: #D2ECFF;
    height: fit-content;
    padding-top: 156px;
}

.first-section-text {
    height: fit-content;
}

.first-section-heading p {
    font-size: 64px;
    font-weight: 600;
}

.first-section-parah p {
    font-size: 14px;
    font-weight: 400;
}

.first-section-image {
    position: relative;
    height: 643px;

}

.first-section-image img {
    width: 611px;
    height: 642px;
}

.book-appointment button {
    width: 181px;
    height: 46px;
    padding: 10px;
    border-radius: 8px;
    background-color: #008FF8;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
}

.book-appointment button:hover {
    color: #FFFFFF;
    background-color: #8DC641;
}

.contact-us button {
    width: 120px;
    height: 46px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: 1px solid #008FF8;
    color: #008FF8;
}

.contact-us button:hover {
    background-color: #008FF8;
    color: #FFFFFF;
}

.doctor-rotating-card {
    width: 321px;
    height: 119px;
    position: absolute;
    top: 10%;
    right:1%;
    box-shadow: 0px 0px 50px 0px #0000001A;
    background-color: #FFFFFF;
    border-radius: 10px;
    animation: animateDiv 2s 1;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 1;
}

.card-rotate-img img {
    width: 84px;
    height: 84px;
}

.circle-blur {
    position: absolute;
    left: 82%;
    top:20%;
    width: 254px;
    height: 242px;
    border-radius: 50%;
    background-color: #008FF8;
    filter: blur(90px);
    z-index: 1;
}

.heading1 p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    ;
}

.heading2 p {
    font-size: 16px;
    font-weight: 400;
    color: #858585;
}

.heading3 p {
    font-size: 12px;
    font-weight: 400;
    color: #8DC641;
}

.head1 p {
    font-size: 18px;
    font-weight: 600px;
    color: #008FF8;
}

.head2 p {
    font-size: 60px;
    font-weight: 600;
}

.head3 p {
    font-size: 18px;
    font-weight: 600;
    color: #008FF8;
}

.section2-parah {
    font-size: 15px;
    font-weight: 400;
}

.section2-of-image img {
    width: 600px;
    height: 500px;
}

.cards {
    width: 255px;
    height: 354px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.cards:hover {
    background-color: #008FF8;
    color: white;
}

.card-img img {
    width: 84px;
    height: 84px;
    margin-bottom: 20px;
}

.card-title p {
    font-size: 24px;
    font-weight: 700;
}

.card-body p {
    font-size: 18px;
}

hr {
    content: '';
    width: 200px;
    color: #858585;
}

.third-section {
    background-color: #AEDDFF;
    height: 1109px;
}

.he1 p {
    font-size: 18px;
    font-weight: 600px;
    color: #008FF8;
}

.he2 p {
    font-weight: 600;
    font-size: 64px;
}

.headings1 p {
    font-size: 18px;
    font-weight: 600;
}

.headings2 p {
    font-size: 64px;
    font-weight: 500;
}

.card1 {
    width: 300px;
    height: 388px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 0px #0000001A;
    margin: 10px;

}

.card-image1 img {
    width: 245px;
    height: 260px;
}

.card-subtitle p {
    color: #858585;
}

.fourth-section {
    background-color:#FAFAFA;
}

.card2 {
    width: 408px;
    height: 319px;
}

.card-image-quote {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 208px;
}

.card-image img {
    width: 84px;
    height: 84px;
    padding-left: 12px;
}

.card-body p {
    font-size: small;
    font-weight: 500;
    margin-top: 10px;
}

.quote img {
    width: 36px;
    height: 36px;
    margin-right: 300px;
}

.card-title2 p {
    font-size: 16px;
    font-weight: 500;
    padding-left: 18px;
}

.card-subtitle2 p {
    font-size: 12px;
    font-weight: 400;
    color: #858585;
    padding-left: 18px;
}

.sixth-section {
    background-color: #D2ECFF;
    padding-top: 26px;
    margin-top: 156px;
}

.fheading1 p {
    font-size: 18px;
    font-weight: 600;
    color: #008FF8;
}

.fheading2 {
    font-size: 64px;
    font-weight: 500;
}

.sheading1 p {
    font-size: 18px;
    font-weight: 600;
    color: #008FF8;
}

.sheading2 p {
    font-size: 64px;
    font-weight: 500;
}

.section7-parah p {
    font-size: 18px;
    font-weight: 400;
}

.accordion,.accordion1,.accordion2,.accordion3{
    color: #1E1E1E;
    cursor: pointer;
    padding: 18px;
    padding-left: 82px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.4s;
    display: flex;
    gap: 330px
}

.active .accordion:hover {
    background-color: #ccc;
}
.accordion img,.accordion1 img,.accordion2 img,.accordion3 img {
    width: 26px;
    height: 26px;
    background-color: #008FF8;
    border-radius: 50%;
    margin-left: 60px;
}
.accordion1 img{
    margin-left: 120px;
}
.accordion2 img{
    margin-left: 120px;
}
.accordion3 img{
    margin-left: 80px;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.panel p {
    font-size: 12px;
    padding-left: 65px;
    padding-top: 20px;
    width: 100%;
}

.panel:hover {
    background-color: #858585;
}

.accordion-set button {
    height: 82px;
    border-bottom: 1px solid #858585;
    background-color: #FFFFFF;
}

span p {
    font-size: small;
}

.FAQImg img {
    width: 390px;
    height: 583px;
    border-radius: 8px;

}

.explore {
    width: 137px;
    height: 46px;
    border: 1px solid #008FF8;
    border-radius: 8px;
    padding: 12px;
    color: #008FF8;
    background-color: #D2ECFF;
    font-size: 16px;
    margin-top: 29px;
    font-size: 15px;
    font-weight: 500;
}

.van img {
    width: 521px;
    height: 423px;
}

.van-section {
    background-color: #E2F3FF;
}

.section8-ambulance-text {
    margin-top: 0px;
}

.section8-ambulance-text .heading1 p {
    font-family: 'kaushan script';
    font-size: 54px;
    font-weight: 400;
    color: #00069B;
    margin-left: 50px;
}

.section8-ambulance-text .heading2 p {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin-top: 3px;
    margin-left: 50px;
}

.info-sticker .section8-parah p {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
}

.info-sticker {
    display: flex;
    justify-content: center;
}

.sticker-img img {
    height: 142px;
    width: 133px;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: #002947;
    color: #FFFFFF;
}

.footer-content li {
    list-style: none;
}

.footer-logo img {
    width: 214px;
    height: 68px;
}

.footer-parah p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px
}

.logos img {
    width: 32px;
    height: 32px;
}

.contact-button button {
    width: 141px;
    height: 47px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 500;
    background-color: #008FF8;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 30px
}

.logo-flex {
    display: flex;
    gap: 30px;
    margin-top: 44px;
}

.footer-content1 li {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    list-style: none;
}

.phone1 img {
    width: 17.74px;
    height: 17.94px;
}

.phone-number p {
    font-size: 18px;
    font-weight: 500px;
}

.need-help {
    display: flex;
    gap: 11px;
}

.location-add {
    display: flex;
    justify-content: center;
    gap: 11px;
}

.loc img {
    width: 17.74px;
    height: 17.94px;
}

.add p {
    font-size: 18px;
    font-weight: 500px;
}

.email-input-absolute {
    width: 76px;
    height: 46px;
    background-color: #008FF8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 75%;
}

.email-input-absolute img {
    width: 18px;
    height: 14px;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 305px;
    height: 46px;
    padding: 12px;
    margin-top: 33px;
}

.contact-button button:hover {
    background-color: white;
    color: #008FF8;
}

.footer li:hover {
    color: #008FF8;
}

.footer li:hover i {
    opacity: 1;
    color: #008FF8;
}

i {
    color: white;
    transition: opacity 0.3s ease;
    margin-left: 5px;
    opacity: 0;
    cursor: pointer;
}

.footer li {
    cursor: pointer;
}
.appointment-section{
    width: 1443px;
    height: 963px;
    padding-top: 156px;
}
.bookappointment-image{
    padding-top: 156px;
}
.book-appointment-text .heading1 p{
    font-size: 64px;
    font-weight: 600;
}
.nav-item:hover a{
    color: #8DC641;
}
span{
    color: #008FF8;
}
.bookappointment-form{
    width: 600px;
    height: 753px;
    background-color:#D2ECFF;
    box-shadow: 0px 0px 30px 0px #0000001A;
    padding: 30px;
    border-radius: 10px;
}
label{
    font-size: 18px;
    font-weight: 600;
    padding: 0px 30px 30px 0px;
}
select{
    width: 547px;
    height: 55px;
    background-color: #FFFFFF;
}
#bookbutton{
width: 181px;
height:46px;
padding: 12px;
border-radius: 8px;
margin-top: 30px;
outline: none;
border: none;
background-color: #008FF8;
color: #FFFFFF;
font-size: 18px;
font-weight: 600;
}
.input1 input::placeholder{
    padding-left: 10px;
}
.input2 input::placeholder{
    padding-left: 10px;
}
.bookappointment-image img{
    width:576px;
    height: 652px;

}
.insurance-desks-section{
   padding-top: 156px;
}
.he1 p{
    font-size: 64px;
    font-weight: 600;
}
.he2 p{
    font-size: 32px;
    font-weight: 500;
}
table, th, td{
    border:1px solid grey;
    padding: 10px;
    font-size: 20px;

  }
 
  th{
    background-color: #008FF8;
    color: white;
    font-size: 24.75px;
  }
  .contact-section{
    padding-top: 166px;

  }
  .hea1 p{
    font-size: 64px;
    font-weight: 500;
  }
  .contact-card{
    width: 431px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 24px 0px #0000000D;
    padding-top: 60px;
    margin: 20px;
}
.map-section{
    padding-top:46px;
}
.map{
   width: 676px;
   height: 652px;
}
.form-section{
    width: 680px;
    height: 652px;
    background-color: #AEDDFF;
    padding: 65px;
}
#sendmsg{
width:181px;
height: 46px;;
padding: 12px;
border-radius: 8px;
margin-top: 30px;
background-color: #008FF8;
font-size: 18px;
font-weight: 600;
color: #FFFFFF;
outline: none;
border: none;
}
.career-section{
    padding-top: 156px;
}
.header1 p{
    font-size: 18px;
    font-weight: 500;
    color: #008FF8;
}
.header2 p{
    font-size: 48px;
    font-weight: 600;
}
.header4 p{
    font-size: 64px;
    font-weight: 500;
}
.jobsopenings{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid grey;
    padding-left: 200px;
}
.jobsopenings p{
    font-size: 32px;
}
#apply{
    width:105px;
    height:46px;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #008FF8;
    color: white;
}
.openings{
    border-bottom: 1px solid grey;;
}
#apply:hover{
    background-color: #8DC641;
    color: #FFFFFF;
}
.about-hospital-section{
    padding-top: 156px;
}
.about-hospital-text{
    margin-left: 80px;
}
.heading-1 p{
    font-size: 64px;
    font-weight: 500;
}
.about-hospital-image{
    position: relative;
}
.about-hospital-image1{
    position: absolute;
    top: 38%;
    left:27%
}
.heading-2 p{
    font-size: 18px;
    font-weight: 600;
    color: #008FF8;
}
.heading-3 p{
    font-size: 48px;
    font-weight: 500;
}
.health-section{
    padding-top: 96px;
    padding-bottom: 30px;
}
.health p{
    font-size: 32px;
    font-weight: 600;
}
.doctor{
    margin-left: 250px;
}
.doctor-section{
    margin-left: 100px;
}
.black-cards{
    width: 447px;
    height: 291px;
    background-color: black;
    color: white;
    padding: 50px;
    border-radius: 10px;
}
.banner{
    background-image: url("./Images/Rectangle\ 159.png");
    width: 1350px;
    padding: 100px;
    background-repeat: no-repeat;
}
#contact{
    width: 96px;
    border-radius: 5px;
    background-color: #008FF8;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px;
}
/* Animation */
@keyframes animateDiv {
    0% {
        bottom: 0px;
        top: 450px;
    }

    100% {
        bottom: 0px;
        top: 300px;
    }
}

/* Media Queries */
@media (max-width:1400px) {
    body {
        overflow-x: hidden;
    }

    .footer li {
        font-size: medium;
    }

    .footer p {
        font-size: medium;
    }

    .logos img {
        width: 20px;
        height: 20px;
    }

    a.nav-link {
        font-size: 12px;
    }

    .appointment-btn {
        font-size: 12px;
    }

    .dropdown-menu .dropdown-item {
        font-size: 12px;
    }

    .top-nav p {
        font-size: x-small;
    }

    .van img {
        width: 421px;
        height: 323px;
    }

    .add p {
        font-size: small;
    }

    .input-box input {
        width: 205px;
    }
}

@media(max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .footer li {
        font-size: medium;
    }

    .footer p {
        font-size: medium;
    }

    .logos img {
        width: 20px;
        height: 20px;
    }

    a.nav-link {
        font-size: 12px;
    }

    .appointment-btn {
        font-size: 12px;
    }

    .dropdown-menu .dropdown-item {
        font-size: 12px;
    }

    .top-nav p {
        font-size: x-small;
    }

    .van img {
        width: 421px;
        height: 323px;
    }

    .add p {
        font-size: x-small;
    }

    .input-box input {
        width: 205px;
    }

    .first-section-image img {
        display: none;
    }
}

@media(max-width:375px) {
    .first-section-image img {
        display: none;
    }

    .first-section p {
        font-size: small;
    }

    .doctor-rotating-card {
        opacity: 0;
    }

    .first-section {
        display: flex;
        flex-direction: column;
    }

    .input-box input {
        display: none;
    }

    .section2-of-image img {
        width: 300px;
        height: 350px;
    }
}